
@{
    ViewBag.Title = "О сервисе";
}

<div class="jumbotron">
    <h2>Расчет трехзонной методической печи</h2>
    <p class="lead" style="margin-top:40px;">Данный сервис позволяет делать расчет параметров работы трехзонной методической печи.</p>
    <p>Методические печи, в которых чаще всего осуществляют противоточную схему теплообмена, являются основным теплотехническим агрегатом для нагрева блюмов и слябов перед заготовочными, сортовыми и листопрокатными станами</p>
    <p>В рабочем пространстве пламенных нагревательных печей протекают во взаимосвязи три процесса: горение топлива (тепловыделение), движение печных газов и теплообмен. Совокупность этих процессов называют тепловой работой печи. Процесс расчета состоит из теплотехнических расчетов печи, используя закономерности внешнего теплообмена и теорию нестационарной теплопроводности, определения температурного поля и продолжительности нагрева металла. Затем с помощью уравнения теплового баланса находится расход топлива, необходимый для осуществления предполагаемого технологического процесса, а также показатели тепловой работы печи в виде удельного расхода условного топлива в, кг у.т/т, удельной производительности р, кг/(м2 ⋅ч) и КПД-η.</p>
</div>

