@{
    ViewBag.Title = "Расчет трехзонной методической печи";
}

<div class="jumbotron">
    <h1>Расчет трехзонной методической печи</h1>
    <p class="lead">Добро пожаловать в сервис по расчету трехзонной методической печи</p>
    <p><a href="@Url.Action("Index", "Calculator")" class="btn btn-primary btn-lg">Перейти к расчету &raquo;</a></p>
</div>

<div class="row" style="text-align:center;">
    <img src="~/Content/schema.png" alt="Схема печи" />
</div>